*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins';
    font-style: normal;
}
.header__navbar {
    width: 100%;
    max-width: 100%;
    margin-bottom: 62px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
}
.user{
    background: #849FFF;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 115px;
    display: flex;
}
form input{
    width: 327px;
    height: 44px;
}
.figures {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    
}

.figures figure {
    background: #FBFCFF;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
}

.figures ul{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 2px 8px;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 300px;
    height: 100px;
}
.figures li{
    color: #849FFF;
    background: #FFFFFF;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
    max-width: 100px;
    max-height: 50px;
}
  